.jtk-demo-canvas {
    /* for IE10+ touch devices */
    touch-action: none;
    background: url(./bg.png) repeat;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}

.flowchart-demo .window {
    border: 2px solid #000;
    background: #FFFF;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    z-index: 20;
    position: absolute;
    color: black;
    font-family: helvetica, sans-serif;
    padding: 0.5em;
    font-size: 0.9em;
    transition: box-shadow 0.15s ease-in;
}

.flowchart-demo .window:hover {
    /* box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #444;
    opacity: 0.6; */
}

.flowchart-demo .active {
    /* border: 1px dotted green; */
}

.flowchart-demo .hover {
    /* border: 1px dotted red; */
}

#f1 {
    top: 34em;
    left: 5em;
}

#f2 {
    top: 7em;
    left: 36em;
}

#f3 {
    top: 27em;
    left: 48em;
}

#f4 {
    top: 23em;
    left: 22em;
}

.flowchart-demo .jtk-connector {
    z-index: 4;
}

.flowchart-demo .jtk-endpoint,
.endpointTargetLabel,
.endpointSourceLabel {
    z-index: 21;
    cursor: pointer;
}

.flowchart-demo .aLabel {
    background-color: white;
    padding: 0.4em;
    font: 12px sans-serif;
    color: #444;
    z-index: 21;
    border: 1px dotted gray;
    opacity: 0.8;
    cursor: pointer;
}

.flowchart-demo .aLabel.jtk-hover {
    background-color: #5C96BC;
    color: white;
    border: 1px solid white;
}

.window.jtk-connected {
    border: 2px solid #000;
}

.jtk-drag {
    outline: 4px solid pink !important;
}

path,
.jtk-endpoint {
    cursor: pointer;
}

.jtk-overlay {
    background-color: transparent;
}

.jtk-node {
    position: relative;


}

.jtk-node:focus,
.jtk-node:active {
    display: block;
}

.drag-source {
    /* display: none; */
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background: green;
}

.source-top {
    bottom: 100%;
    left: 50%;
    margin-left: -7px;
}

.source-bottom {
    top: 100%;
    left: 50%;
    margin-left: -7px;
}

.source-left {
    right: 100%;
    top: 50%;
    margin-top: -7px;
}

.source-right {
    left: 100%;
    top: 50%;
    margin-top: -7px;
}